$green: #4D9600;
$light-green: #4D96001A;

/*共通部分*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
 
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  font-family: "YuMincho", "游明朝", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "MS PMincho", serif;
  background: white;
  line-height: calc(25/16);
  overflow-x: hidden;
}

#about {
  scroll-margin-top: 8rem;

  @media (max-width: 768px) {
    scroll-margin-top: 5rem;
  }
}

#service{
  scroll-margin-top: 8rem;

  @media (max-width: 768px) {
    scroll-margin-top: 5rem;
  }
}

#works{
  scroll-margin-top: 8rem;

  @media (max-width: 768px) {
    scroll-margin-top: 5rem;
  }
}

#news{
  scroll-margin-top: 8rem;

  @media (max-width: 768px) {
    scroll-margin-top: 5rem;
  }
}

#company{
  scroll-margin-top: 8rem;

  @media (max-width: 768px) {
    scroll-margin-top: 5rem;
  }
}

#contact{
  scroll-margin-top: 8rem;

  @media (max-width: 768px) {
    scroll-margin-top: 5rem;
  }
}

body.modal-open {
  position: fixed;
  width: 100%;
  overflow: hidden;
}


a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
  font-family: inherit;
}

.wrapper_inner {
  max-width: 960px;
  margin: 0 auto;
  padding-inline: 2rem;
   @media (max-width:768px) {
    padding-inline: 3rem;
      }
  }

.green_bg {
  background-color: $light-green;
}

.section_title {
  color: $green;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: calc(33 / 30);
  letter-spacing: 0.3em;
  transform: translateX(0.44%);
}

.section_sub_title {
  text-align: center;
  font-size: 2rem;
  line-height: calc(33 / 20);
  letter-spacing: 0.3em;
  margin-top: 0.6rem;
   transform: translateX(0.3%);
}

.pc_none {
  display: none;
  @media (max-width:768px) {
    display: block;
  }
}

.pc_none_2 {
  display: none;
  @media (max-width:521px) {
    display: block;
  }
}

.sp_none {
  display: block;
  @media (max-width:768px) {
    display: none;
  }
}

.sp_none_2 {
  display: none;
  @media (max-width:910px) {
    display: block;
  }
  @media (max-width:768px) {
    display: none;
  }
}

/* HEADER */
.header {
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  height: 8rem;
  @media (max-width:768px) {
      height: 5rem;
      }

  &_inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-width: 960px;
    height: 8rem;
    margin: 0 auto;
    padding-inline: 2rem;
   box-sizing: border-box;
   @media (max-width:768px) {
      padding-inline: 0;
      height: 5rem;
      }

     h1 {
        font-size: 2rem;
        font-weight: 400;
        height: 100%;
      }
  }

  &_logo {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    @media (max-width:768px) {
      margin-left: 2rem;
      }

  }

  &_nav {
    height: 100%;
    
    ul {
      display: flex;
      gap: 3.11rem;
      height: 100%;
      align-items: center;
      @media (max-width:910px) {
       gap: 1.8rem;
      }
      @media (max-width:768px) {
        display: block;
        padding: 0;
        position: absolute;
        top: 5rem;
        right: -100%;
        width: 30rem;
        height: 34.8rem;
        transition: right 0.3s ease;
      }
    li {
      height: 100%;
       @media (max-width:768px) {
        height: 5.8rem;
      }
    }
    }

   a {
      font-size: 1.8rem;
      color: white;
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      @media (max-width:910px) {
        font-size: 1.6rem;
      }
      @media (max-width:768px) {
        font-weight: 600;
        line-height: 1;
        padding: 0rem 0rem 0rem 2rem;
        width: 100%;
        height: 100%;
         background-color: $green;
      }
    }


   a::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 25.5px;
     width: 0;
     height: 1px;
     background: white;
     transition: width 0.5s ease;

     @media (max-width:768px) {
      display: none;
     }
    }

  a:hover::after {
    width: 100%;
    }
  }

  .header_nav a:hover {
     opacity: 1;
    @media (max-width:768px) {
     background-color: black;
    }
  }
}


.header.scrolled {
  background-color: $green;
}  

.header.open {
  background-color: $green;
}

.header_nav_list.active {
  right: 0;
}

.header_hamburger {
  display: none;
  cursor: pointer;
  width: 7.2rem;
  height: 100%;
  margin-right: 0;
  margin-left: auto;
  position: relative;
  background-color: white;

  @media (max-width: 768px) {
    display: block;
    
  }
}

.header_hamburger span {
  background-color: $green;
  width: 3.2rem;
  height: 0.4rem;
  position: absolute;
  left: 2rem;
  border-radius: 0.2rem;
  transition: ease 0.3s;
  display: block;
}

.header_hamburger span:nth-child(1) {
  top: 1rem;
}

.header_hamburger span:nth-child(2) {
  top: 2.3rem;
}

.header_hamburger span:nth-child(3) {
  top: 3.6rem;
}

.header_hamburger.active span:nth-child(1) {
  top: 2.3rem;
  transform: rotate(45deg);
}

.header_hamburger.active span:nth-child(2) {
  display: none;
}

.header_hamburger.active span:nth-child(3) {
  top: 2.3rem;
  transform: rotate(-45deg);
}

/*FIRST_VIEW*/
.first_view {
  width: 100%;
  height: auto;
  position: relative;
}

.fv_title {
   position: absolute;
    width: 100%;
     top: 51.3%;
     left: 50.6%;
     transform: translate(-50%, -50%);
     font-size: 4rem;
     font-weight: 600;
     text-align: center;
     letter-spacing: 0.3em;
     z-index: 500;
     color: white;
     text-shadow: 0.5rem 0.5rem 0.5rem black;

    @media (max-width: 425px) {
      top: 51.4%;
      left: 51.3%; 
    @media (max-width: 425px) {
      font-size: 3rem;
      line-height: calc(60 / 30);
  }
}
}
.bottom_title {
  padding-top: 0.9rem;
  @media (max-width: 768px) {
    padding-top: 0rem;
}
}
.fv_slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.fv_slider_items {
  width: 100%;
  height: 100%;

  picture {
    width: 100%;
    height: auto;
    display: block;
  }
}

.fv_slider_items img {
  width: 100%;
  height: auto;
}

.fv_slider_items::before {
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15); /* 黒＋50%透過 */
  z-index: 1;
}

/*ABOUT*/
.about {
  width: 100%;
  height: auto;
  position: relative;
}

.about_content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.about img {
  width: 100%;
  height: auto;

  picture {
    width: 100%;
    height: auto;
    display: block;
    
  }
}

.about_textarea {
  width: 100%;
  height: 100%;
  writing-mode: vertical-rl;
  padding-top: 10.5%;
  padding-right: 39.8%;

  @media (max-width:768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 0;
      padding-top: 0;
      gap: 3.3%;
      }
}

.about_title {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-left: 3.75rem;

  @media (max-width:910px) {
        font-size: 2.8rem;
        margin-left: 2.5rem;
      }
  @media (max-width:768px) {
       letter-spacing: 0.5rem;
       font-size: 3rem;
       margin: 0;
       white-space: nowrap;
      }
      
  @media (max-width:456px) {
       font-size: 2.5rem;
      }
   @media (max-width:374px) {
       font-size: 2.3rem;
      }
}

.about_text {
  font-size: 1.8rem;
  letter-spacing: 0.7rem;
  line-height: 2.66;
  margin: 0;

  @media (max-width:910px) {
    line-height: 2.3;
    font-size: 1.6rem;
      }
  @media (max-width:768px) {
    font-size: 1.8rem;
    white-space: nowrap;
      }
  @media (max-width:456px) {
    font-size: 1.6rem;
    line-height: 1.63;
    letter-spacing: 0.4rem;
      }
}


/*SERVICE*/
.service {
  width: 100%;
  height: auto;
  padding-block: 8rem;
  @media (max-width:768px) {
    padding-block: 5rem;
      }
}

.service_contents {
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
  @media (max-width:910px) {
      row-gap: 5rem;
      }
   @media (max-width:768px) {
    margin-top: 3.8rem;
    
      }
}

.service_contents_item,
.reverse_service_contents_item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
   @media (max-width:768px) {
      display: block;
      height: auto;
      }
}

.reverse_service_contents_item {
  flex-direction: row-reverse;
   @media (max-width:768px) {
      display: block;
      height: auto;
      }

}

.service_contents_img,
.reverse_service_contents_img {
  width: 60rem;
  height: auto;
  padding-bottom: 5.1rem;


  @media (max-width:768px) {
    width: 100%;
    padding-bottom: 0;
  }
}

.service_contents_img img,
.reverse_service_contents_img img {
  width: 100%;
  height: auto;

}

.service_contents_img p {
  margin-top: 1.9rem;
  @media (max-width:768px) {
      margin-top: 0.6rem;
      }
}

.reverse_service_contents_img p {
  margin-top: 1.9rem;
  text-align: right;
  @media (max-width:768px) {
      margin-top: 0.6rem;
       text-align: left;
      }
}

.service_contents_textarea {
  width: 32rem;
  height: auto;
  background-color: $green;
  color: white;
  position: relative;
  padding: 5rem 0 4.2rem 4rem;
  
   @media (max-width:910px) {
      padding-left: 2rem;
      }
  @media (max-width:768px) {
      width: 100%;
      margin-top: 0.5rem;
      padding-top: 2rem;
      padding-left: 2rem;
      padding-bottom: 1.15rem;
      }
}

.service_contents_textarea::before {
  content: ""; 
  display: block;
  width: 20rem;
  height: 9.5rem;
  background-color: $green;
  position: absolute;
  bottom: 0;
  left: -18rem;
  z-index: -1;
  @media (max-width:768px) {
      display: none;
      }
}

.reverse_service_contents_textarea {
  width: 32rem;
  height: auto;
  background-color: $green;
  color: white;
  padding-top: 5rem;
  padding-left: 4rem;
  padding-bottom: 4.2rem;
  position: relative;
  
  @media (max-width:910px) {
      padding-left: 1.5rem;
      }
    @media (max-width:768px) {
      width: 100%;
      margin-top: 0.5rem;
      padding-top: 2rem;
      padding-left: 2rem;
      padding-bottom: 1.15rem;
      }
      
}

.reverse_service_contents_textarea:before {
  content: ""; 
  display: block;
  width: 20rem;
  height: 9.5rem;
  background-color: $green;
  position: absolute;
  bottom: 0;
  right: -18rem;
  z-index: -1;
   @media (max-width:768px) {
      display: none;
      }
}

.service_contents_textarea h3,
.reverse_service_contents_textarea h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: calc(33 / 25);

 
  @media (max-width:910px) {
      font-size: 2rem;
      line-height: calc(25 / 20);
      }
   @media (max-width:374px) {
      font-size: 1.8rem;
      line-height: calc(25 / 18);
      }
}

.service_contents_textarea p,
.reverse_service_contents_textarea p {
  font-weight: 600;
  margin-top: 1.7rem;
   
   @media (max-width:768px) {
      margin-top: 1.44rem;
      line-height: calc(25 / 16);
      }
   @media (max-width:374px) {
      font-size: 1.5rem;
      line-height: calc(25 / 15);
      }
  @media (max-width:339px) {
      font-size: 1.4rem;
      line-height: calc(25 / 14);
      }
}

/*WORKS*/
.works {
   width: 100%;
  height: auto;
  padding-block: 8rem 9.7rem;
   @media (max-width:768px) {
      padding-block: 5rem 4.1rem;
      }
}

.works_contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4.35%;
  margin-top: 6.8rem;

  @media (max-width:938px) {
     gap: 4%;
      }
   @media (max-width:768px) {
     margin-top: 3.8rem;
     grid-template-columns: 1fr;
     gap: 2.2rem;
      }
}

.works_contents_img img {
  width: 100%;
  height: auto;
}

.works_contents_text {
  margin-top: 1.9rem;
  @media (max-width:938px) {
      font-size: 1.3rem;
      }
   @media (max-width:768px) {
      margin-top: 0.95rem;
      font-size: 1.6rem;
      line-height: calc(25 / 16);
      }
}

.works_contents_item {
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
}

.works_contents_item:hover {
  opacity: 0.7;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  top: 0;
  left: 0;
  right: 0;
   opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  pointer-events: none;
}

.modal {
  width: 45rem;
  height: 27.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1501;
   opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  pointer-events: none;


  @media (max-width:768px) {
    width: 84%;
    height: auto;
  }
}

.modal_content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font-size: 2.5rem;
  line-height: 1;
  color: black!important;
  -webkit-appearance: none;
  appearance: none;
   -moz-appearance: none;
  text-decoration: none; 
   @media (max-width:768px) {
   font-size: 2rem;
   top: 0;
   right: 0rem;
  }
}

.modal_img {
 padding: 1.5rem 1.5rem 0.9rem 1.5rem;
}

.modal_item p {
  padding-inline: 1.5rem;
  margin-bottom: 0.6rem;

   @media (max-width:425px) {
    font-size: 1.6rem;
  }
}

.overlay.open ,
.modal.open {
 opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/*NEWS*/
.news {
  width: 100%;
  height: auto;
  padding-block: 8rem;
  @media (max-width:768px) {
      padding-block: 5rem;
      }
}

.news_content_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.5%;
  width: 100%;
  margin-top: 6.8rem;

  @media (max-width:768px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5rem;
      margin-top: 3.75rem;
      }
}

.news_content {
  width: 100%;
  @media (max-width:768px) {
     width: 100%;
      }
}


.news_sub_title {
  width: 100%;
  height: 5rem;
  padding-inline: 2rem;
  background-color: $green;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
}

.news_content_list {
  width: 100%;
  height: auto;
  padding-inline: 2rem;
  padding-block: 1rem 0.9rem;
  background-color: white;
}

.news_content_item {
  width: 100%;
  border-bottom: 1px solid $green;
}

.news_content_item a {
  display: flex;
  gap: 7rem;
  padding-block: 1.3rem 1.25rem;
  @media (max-width:939px) {
      gap: 5rem;
      }
  @media (max-width:768px) {
      gap: 1.9rem;
      }
}

.news_date {
  line-height: calc(33 / 16);
   color: black;
}

.news_content_text {
  font-size: 1.8rem;
  line-height: calc(25 / 18);
  padding-top: 0.65rem;
  color: black;
   display: -webkit-box;
  -webkit-line-clamp: 2;         /* 2行で切る */
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media (max-width:374px) {
      font-size: 1.6rem;
      line-height: calc(25 / 16);
      }
}

.more_icon {
  padding-inline: 1rem;
  padding-block: 1.3rem;
  display: flex;
  justify-content: right;
  background-color: white;
}

.more_icon a:hover img {
  animation: shake-right 0.4s ease-in-out;
}

@keyframes shake-right {
  0% { transform: translateX(0); }
  25% { transform: translateX(4px); }
  50% { transform: translateX(-3px); }
  75% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

/*COMPANY*/
.company {
  width: 100%;
  height: auto;
  padding-block: 8rem;
  @media (max-width:768px) {
      padding-block: 5rem;
      }
}

.company_content {
  width: 100%;
  height: auto;
  margin-top: 6.8rem;
  display: flex;
  align-items: flex-end;
  @media (max-width:768px) {
      margin-top: 3.8rem;
      height: auto;
      display: block;
      }
}

.map {
  width: 60rem;
  height: auto;
  padding-bottom: 5.55rem;
  overflow: hidden;
  @media (max-width:768px) {
      width: 100%;
      height: auto;
      padding-bottom: 0;
      margin-bottom: 1.34rem;
      }
}

.map iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  @media (max-width:768px) {
     aspect-ratio: 315/300;
      }
}

.company_access {
  width: 32rem;
  height: auto;
  background-color: $green;
  padding-top: 4.9rem;
  padding-left: 4rem;
  padding-bottom: 4.2rem;
  color: white;
  position: relative;

  @media (max-width:910px) {
      padding-left: 2rem;
      }
  @media (max-width:768px) {
      position: static;
      width: 100%;
      height: auto;
      padding-top: 1.9rem;
      padding-left: 2rem;
      padding-bottom: 1.2rem;
      }
}

.company_access::before {
  content: ""; 
  display: block;
  width: 20rem;
  height: 6.2rem;
  background-color: $green;
  position: absolute;
  bottom: 0;
  left: -18rem;
  z-index: -1;
  @media (max-width:768px) {
      display: none;
      }
}

.company_name {
  font-size: 2rem!important;
  font-weight: 600;
  line-height: calc(33 / 20);
}

.company_access p  {
  font-weight: 600;
}

.access_location {
  margin-top: 0.73rem;
}

.tel_number {
  margin-top: 1rem;
}

.number a {
  font-size: 2.5rem;
  line-height: 1.15;
  color: white;
  text-decoration: none !important;
}

.number a:hover {
  cursor: auto;
  opacity: 1;
   @media (max-width:768px) {
      cursor: pointer;
      opacity: 0.7;
      }
}


.mail_address {
  margin-top: 1.6rem;
}

.mail_address a {
  color: white;
  text-decoration: none !important;
}



/*CONTACT*/
.contact {
  width: 100%;
  height: auto;
  padding-block: 8rem;
  background-color: #4D960026;
  @media (max-width:768px) {
      padding-block: 5rem;
      }
}

.contact_content {
  max-width: 800px;
  padding-inline: 0rem;
  margin-inline: auto;
  margin-top: 3.5rem;
  @media (max-width:768px) {
      padding-inline: 0;
      }
}

.contact_content p {
  font-size: 2rem;
  line-height: calc(33 / 20);

  @media (max-width:374px) {
      font-size: 1.8rem;
      line-height: calc(33 / 18);
      }
  @media (max-width:374px) {
      font-size: 1.6rem;
      line-height: calc(25 / 16);
      }
}

.contact_form {
  width: 100%;
   margin-top: 7rem;
   @media (max-width:768px) {
      margin-top: 4.2rem;
      }
}

.contact_form_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width:768px) {
      display: block;
      }
}

.contact_form_name label {
  width: 17rem;
  font-size: 2rem;
   @media (max-width:374px) {
      font-size: 1.8rem;
      }
}

.contact_form_name input {
  flex: 1;
  width: 100%;
  height: 5rem;
  padding: 1.3rem 2rem;
  background-color: white;
}

.contact_form_gender {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  @media (max-width:768px) {
      margin-top: 3rem;
      }
}

.contact_form_gender p {
  width: 17.3rem;
  font-size: 2rem;
  @media (max-width:768px) {
      width: 9rem;
      }
   @media (max-width:374px) {
      font-size: 1.8rem;
      }
}

.contact_form_gender label {
  font-size: 1.8rem;
  line-height: calc(25 / 18);
  margin-right: 7.4rem;
  display: flex;
  gap: 1.9rem;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  @media (max-width:768px) {
      margin-right: 3rem;
      }
   @media (max-width:374px) {
      font-size: 1.6rem;
      line-height: calc(25 / 16);
      margin-right: 1.5rem;
      gap: 1.5rem;
      }
}


input[type="radio"] {
  appearance: none;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}



input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: black;
}



.contact_form_email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  @media (max-width:768px) {
      display: block;
      margin-top: 3.1rem;
      }
}

.contact_form_email label {
  width: 17rem;
  font-size: 2rem;
  letter-spacing: -0.03em;
   @media (max-width:374px) {
      font-size: 1.8rem;
      }
}

.contact_form_email input {
  flex: 1;
  width: 100%;
  height: 5rem;
  padding: 1.3rem 2rem;
  background-color: white;
}

.contact_form_inquiry-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  position: relative;
  width: 100%;
  @media (max-width:768px) {
      display: block;
      margin-top: 3.25rem;
      }
}

.contact_form_inquiry-type label {
  width: 17rem;
  font-size: 2rem;
   @media (max-width:374px) {
      font-size: 1.8rem;
      }
}

.contact_form_inquiry-type select {
  appearance: none;
  flex: 1;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  background-color: white;
  font-size: 1.8rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: black !important; 
  @media (max-width:768px) {
      font-size: 1.6rem;
      }
}

.contact_form_inquiry-type::after {
  content: "";
  position: absolute;
  top: 54%;
  right: 2.15rem;
  width: 1.7rem;
  height: 1.2rem;
  background-color: $green;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
  @media (max-width:768px) {
      top: 71.5%;
      right: 2.15rem;
      }
}

.contact_form_message {
  margin-top: 5rem;
  width: 100%;
  height: auto;
  @media (max-width:768px) {
      margin-top: 3rem;
      }
}

.contact_form_message label {
  font-size: 2rem;
  line-height: calc(33 / 20);
   @media (max-width:374px) {
      font-size: 1.8rem;
      line-height: calc(33 / 18);
      }
}

textarea {
  width: 100%;
  height: 20rem;
  display:block;
  resize: vertical;
  min-height: 20rem;
  padding: 2rem;
  margin: 1rem 0 0 0;
  font-size: 1.8rem;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  border-radius: 0;  
  @media (max-width:768px) {
      margin-top: 0;
      }
   @media (max-width:374px) {
      padding: 1.5rem;
      }
}

.contact_form_questionnaire {
  margin-top: 5rem;
  @media (max-width:768px) {
      margin-top: 3rem;
      }
}

.contact_form_questionnaire p {
  font-size: 2rem;
  line-height: calc(33 / 20);
  @media (max-width:768px) {
      line-height: calc(27 / 20);
      }
    @media (max-width:374px) {
      font-size: 1.6rem;
      }
}

.contact_form-checkbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: start;
  margin-top: 1.28rem;
  @media (max-width:768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 0.3rem;
      }
 
}

.contact_form-checkbox label {
  width: 100%;
  font-size: 1.8rem;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;

    @media (max-width:786px) {
      font-size: 1.6rem;
      line-height: 1;
      }
  @media (max-width:768px) {
      gap: 1rem;
      }
  @media (max-width:374px) {
      font-size: 1.4rem;
      line-height: calc(25 / 14);
      gap: 0.5rem;
      }
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: white;
  cursor: pointer;
}

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  width: 10px;
  height: 15px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.contact_form_privacy {
  margin-top: 5.2rem;
  @media (max-width:768px) {
      margin-top: 3.2rem;
      }
}

.contact_form_privacy p {
  font-size: 2rem;
  line-height: calc(33 / 20);

  @media (max-width:374px) {
      font-size: 1.8rem;
      line-height: calc(33 / 18);
      }
}

.contact_form_privacy_container {
  width: 100%;
  height: 30rem;
  margin-top: 0.95rem;
  padding: 4rem 6rem 4rem 4rem;
  background-color: white;
  overflow-y: auto;
  @media (max-width:768px) {
      margin-top: 0;
      height: 32.3rem;
      padding: 3rem 5rem 3rem 3rem;
      }
  @media (max-width:374px) {
       padding: 2rem 4rem 2rem 2rem;
      }
}

.contact_form_privacy_container .simplebar-scrollbar {
    background-color: #9B9B9B !important;
    height: 3rem !important;
}

.contact_form_privacy_container .simplebar-scrollbar::before {
    background-color: #9B9B9B !important;
    height: 2rem;
}

.contact_form_privacy_container .simplebar-track {
    background-color: #E3E3E3;
    height: 28rem;
    margin: 1rem 1rem 1rem 0;

    @media (max-width:768px) {
      height: 29rem;
      margin: 1rem 1rem 2.3rem 0;
      }
}

.contact_form_privacy_container h3,
.contact_form_privacy_container h4,
.contact_form_privacy_container p,
.contact_form_privacy_container li {
  white-space: pre-wrap;
  font-size: 1.8rem;
  line-height: calc(31 / 18);
  font-weight: 500;

  @media (max-width:768px) {
    font-size: 1.6rem;
    line-height: calc(33 / 16);
  }
}

.contact_form_privacy_container li {
  display: list-item;
  list-style: disc;
  list-style-position: inside;
}

.contact_form_privacy_container_paragraph{
  margin-top: 3.1rem;
}

.contact_form_button {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  @media (max-width:768px) {
      margin-top: 5rem;
      width: 100%;
      }
}

.contact_form_button button {
  width: 30rem;
  height: 5rem;
  color: white;
  background-color: $green;
  border: 1px solid;
  border-color: $green;
  font-size: 2rem;
  line-height: calc(50 / 20);
  font-weight: 600;
  transition: all 0.3s ease;

  @media (max-width:768px) {
      width: 100%;
       max-width: 31.5rem;
      }
}

.contact_form_button button:hover {
  background-color: white;
  color: $green;
}

/*FOOTER*/
.footer {
   width: 100%;
  height: auto;
}

.footer_main {
  padding-block: 8rem;
  text-align: center;
  @media (max-width:768px) {
      padding-block: 5rem;
      }
}

.footer_logo {
  margin-bottom: 2.7rem;
  @media (max-width:768px) {
      margin-bottom: 1.9rem;
      }
}

.footer_logo a {
  display: inline;
  font-size: 2rem;
  line-height: calc(33 / 20);
  color: black;
}

.footer_nav {
  max-width: 72.2rem;
  width: 100%;
  height: auto;
  padding-top: 2.8rem;
  margin: 0 auto;
  border-top: 1px solid black;
  @media (max-width:768px) {
      padding-top: 2rem;
      }
}

.footer_nav_list {
  display: flex;
  justify-content: center;
  gap: 5.1rem;
  @media (max-width:768px) {
      flex-wrap: wrap;
      column-gap: 3rem;
      row-gap: 0.5rem;
      }
}

.footer_nav_list a {
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  color: black;
}

.footer_sns {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 20.2rem;
  height: auto;
  margin: 2.8rem auto 0 auto;
}

.footer_copyright {
  width: 100%;
  height: auto;
  text-align: center;
  padding-block: 3rem 2.9rem;
  background-color: $green;
   @media (max-width:768px) {
      padding-block: 2.1rem;
      }
}

.footer_copyright p {
  font-size: 2rem;
  line-height: calc(33 / 20);
  color: white;
   @media (max-width:768px) {
      line-height: calc(25 / 20);
      }
}

.copyright_right {
    display: inline-block;
  }

/*top_icon*/
.top_icon {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
   @media (max-width:768px) {
     width: 50px;
     height: 50px;
     right: 2rem;
      }
}

.top_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.top_icon:hover img {
  animation: shake-top 0.4s ease-in-out;
}

.top_icon.show {
  opacity: 1;
  visibility: visible;
}



@keyframes shake-top {
  0% { transform: translateY(0); }
  25% { transform: translateY(7px); }
  50% { transform: translateY(-4px); }
  75% { transform: translateY(7px); }
  100% { transform: translateY(0); }
}

//スクロールアニメーション
.fadein-target {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.fadein-target.show {
  opacity: 1;
  transform: translateY(0);
}
